flask
flask-cors
flask-sqlalchemy
Pillow
gunicorn
Werkzeug
PyJWT
numpy
cryptography
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
opencv-python-headless
faiss-cpu
facenet-pytorch
google-search-results
requests
tensorflow-cpu
deepface
fastapi
uvicorn
python-multipart
