commands:
  01_cleanup_pip_cache:
    command: "find /var/lib/python-* -type d -name 'cache' -exec rm -rf {} +"
    ignoreErrors: true
  02_cleanup_tmp:
    command: "rm -rf /tmp/*"
    ignoreErrors: true
  03_cleanup_logs:
    command: "find /var/log -type f -mtime +3 -exec rm -f {} \\;"
    ignoreErrors: true
